<!DOCTYPE HTML>
<html>
	<head>
		<title>POKEMON</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/Estilo Pagina web.css"/>
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="Listar Todos.html">Listar todos</a></li>
							<li class="menu"><a href="Buscar id.html">Buscar ID </a></li>
							<li class="menu"><a href="Inserir dados.html">Inserir dados</a></li>
							<li class="menu"><a href="Alterar dados.html">Alterar dados</a></li>
							<li class="menu"><a href="Deletar dados.html">Deletar dados</a></li>

						</ul>
						<div>

							<!-- Logo -->
							<a href="index.html" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
						</div>
					</header>


				<!-- Main -->
					<div>
						<div>


						</div>
					</div>

				<!-- Footer -->
					<footer>
						<div>
							<section>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>